.header-container{
  display: flex;
  column-gap: 35px;
  align-items: center;
  min-height: 106px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header-page{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(13, 13, 17, 0.7);
  z-index: 50;
}
.header-logo,.cart-header,.header-button{
  position: relative;
  z-index: 2;
}
.header-menu{
  flex: 1 1 auto; 
  /*
    flex-grow, flex-shrinkі flex-basis 
    flex-grow: ця властивість визначає, наскільки flex-елемент має зрости відносно інших flex-елементів у тому самому flex-контейнері. 
    flex-shrink: ця властивість визначає, наскільки flex-елемент може зменшитися порівняно з іншими flex-елементами всередині того самого flex-контейнера, якщо не вистачить місця.  
    flex-basis: ця властивість визначає початковий розмір flex-елемента до того, як будь-який вільний простір буде розподілено між flex-елементами. 
  */
}
.menu-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  row-gap: 3px;
  column-gap: 35px;
}
.menu-link{
  font-size: 16px;
  line-height: 1.62; /* 26/16 */
  /* line-height використовується для керування висотою рядків в елементі рівня блоку. */ 
  color: white;
}
.menu-link:hover{
  text-decoration: underline;
}
.cart-header{
  color: white;
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.cart-header:hover .cart-header-text{
 text-decoration: underline;
}
.cart-header-text{
  font-size: 18px;
  line-height: 1.55; /* 28/18 */
}
.cart-header-quantuty{
  background: rgba(129, 129, 139, 0.3);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-button{
  flex: 0 0 auto;
}
.icon-menu{
  display: none;
}

@media (max-width: 991.98px) { 
  .header-container,
  .menu-list{
    column-gap: 25px;
  }
  .header-container{
    min-height: 80px;
  }
}
/* потрібно ставити саме 767.98 - тому що на екрані плащета не буде бургер кнопки а якщо поставити 768 просот то буде */
@media (max-width: 767.98px) {
  .header-container,
  .menu-list{
    column-gap: 15px;
  }
  /* створюємо бурегр за допомогою span ::after та ::before */
  .icon-menu{
    display: block;
    flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
    border: none;
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before{
    content: "";
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s ease 0s;
  }
  .icon-menu::before{
    top:0 
  }
  .icon-menu::after{
    bottom: 0;
  }
  .icon-menu span{
    top: calc(50% - 1px);
  }
  /* як в html додався клас menu-open повертаємо нижній та верхню лінію на 45 градусів а серединку видаляємо */
  .menu-open .icon-menu span{
    width: 0;
  }
  .menu-open .icon-menu::before{
    top: calc(50% - 1px);
   transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after{
    bottom: calc(50% - 1px);
    transform: rotate(45deg);
   }
 
  .menu-body{
    position: fixed;
    background-color: #000;
    height: calc(100% - 100px);
    width: calc(100% - 30px);
    left: -100%;
    top: 0;
    padding: 100px 15px 30px 15px;
    overflow: auto; /* add scroll */
    transition: left 0.3s ease 0s;
  }
  .menu-body::before{
    content: "";
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    height: 70px;
    background-color: #000;
    z-index: 2;
    transition: left 0.3s ease 0s;

  }
  .menu-list{
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .menu-link{
    font-size: 32px;
  }
  .menu-open .menu-body,
  .menu-open .menu-body::before{
    left: 0;
  }
}
@media (max-width: 560.98px) {
  .header-logo{
    width: 32px;
    overflow: hidden;
  }
  .cart-header-text{
    display: none;
  }

}